<!DOCTYPE html>
<html lang="PL">
	<head>
    <title> CBCL </title>
		<link rel=stylesheet href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='code.js') }}"></script>
	</head>
	<div class="docs">
	  <h4><strong>DOKUMENTACJA</strong></h4>
    <h4><a href="/docs#MainInfo">O języku</a></h4>
    <h5><a href="/docs#zmienne">Zmienne</a></h5>
    <h5><a href="/docs#out">Wypisywanie danych</a></h5>
    <h5><a href="/docs#if-else">Jeśli - w przeciwnym razie</a></h5>
    <h5><a href="/docs#function">Funkcje</a></h5>
    <h5><a href="/docs#call">Call</a></h5>
    <h5><a href="/docs#DOLLAR-OPERATION"> Operacje na $ </a></h5>
    <h5><a href="/docs#komentarz">Komentarze</a></h5>
    <h5><a href="/docs#Paths">Śćieżki</a></h5>
    <h5><a href="/docs#Other">Notatki twórcy</a></h5>
    <h5><a href="/docs#MainLanguage">Język na jakim powstał CBCL</a></h5>
	</div>
	<body>
		<div class="code">
      		<p id="CodeTest" class="NO-ERROR"> Status </p><br>
			<h3> Napisz kod niżej! </h3>
			<h4> Dokumentacja jest po lewej </h4>
			<h4> Twoim głównym zadaniem jest zrobienie błedu, który nie zauważyłem!</h4>
			<h4> Zaliczysz zadanie, tylko wtedy kiedy pasek wyżej będzie czerwony</h4>
			<h4> skrypt, który wykonuje błąd wyślij mi na discord: NotMe#4785 lub zgłoś błąd na <a href="https://github.com/NOTMEE12/CBPL">github</a></h4>
		  	<h3 class='HEADER'> SKRYPT </h3>
				<form>
					<textarea id="code" minrows=15 cols=180 spellcheck="false"></textarea><br>
					<input type=button id="submitter" value="Testuj!" onclick="send()"/>
				</form>
				<h3 class='HEADER'> TERMINAL </h3>
				<textarea id="Console" spellcheck="false" rows=15 cols=180 readonly></textarea>
		</div>
	</body>
  <script type="text/javascript">
    if(sessionStorage.getItem('script') == '' || sessionStorage.getItem('script') == null){
      onload()
    } else {
      document.getElementById('code').value = sessionStorage.getItem('script')
    }
    function Repeat(){
      var x = setInterval(function(){
        // console.log(document.getElementById('code').value)
        sessionStorage.setItem('script', document.getElementById('code').value)
      }, 3600)
    }
    Repeat()

    /* ON CLICK IN SCRIPT */
    document.getElementById('code').addEventListener('keydown', function(e) {
      if (e.key == 'Tab') {
        e.preventDefault()
        var start = this.selectionStart
        var end = this.selectionEnd
      
        // set textarea value to: text before caret + tab + text after caret
        this.value = this.value.substring(0, start) +
          "\t" + this.value.substring(end)
     
        // put caret at right position again
        this.selectionStart =
          this.selectionEnd = start + 1
      }
    })
    init()
  </script>
</html>
